.parties__container {
  display: flex;
  margin-top: -48px !important;
  justify-content: center;
}

.wrapper {
  width: 850px;
  display: flex;
  flex-direction: column;
  margin-bottom: 14px !important;
}
