.SignInWarningContainer {
  max-width: 608px;
  height: 434px;
  padding: 24px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.075);
}

.warning-btn {
  margin-top: 22px;
}

.SignIn-btn {
  background-color: rgb(76 81 191);
  color: #fff;
  border-radius: 4px;
}
