* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .ui .single .line .striped .table {
  width: fit-content !important;
}

table {
  width: fit-content !important;
} */

/* .sc-kEjbxe .eNtrNd {
  display: flex;
  justify-content: center;
} */

.kOXhKt .header-container {
  background-color: #4143b6;
}

.bLXgcF .frEOqt {
  background-color: #4143b6;
}

.anticon-spin {
  display: none;
}
.ant-upload-list-item-name {
  float: right;
}

.jqeKPM .sc-iJuUWI {
  background-color: #4143b6;
}
